html {
  height: 100%;
  width: 100%;
}
body {
  background-image:url("../BackgroundPaper.jpeg");
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container_greeting, .container_carousel, .container_sales, .container_categories, .container_footer {
  width: 80%;
  margin: 1rem auto; 
}

.container_greeting {
  background-color: #FBD0A6;
  padding: 10px;
}

.container_carousel {
  background-color: #2ABA9E;
}

.container_sales {
  background-color: #B11016;
}

.container_categories {
  background-color: #FBD0A6;
}

.container_footer {
  background-color: #D9D9D9;
}
.text-row1, .text-row2, .text-row3 {
  padding: 1rem;
  border: 1px;
  border-style: solid;
}
.text-row1{
  background:#B11016;
}
.text-row2{
  background:#F37022;
}
.text-row3{
  background:#007096;
}
.seventy{
  background: #b11016;
}
.eighty{
  background:#F37022;
}
.ninety{
  background:#007096;
}
header {
  padding: 1rem 0;
}

header h1 {
  text-align: center;
  margin: 0;
  color: black;
  
}

main .intro {
  text-align: center;
  margin: 2rem 0;
}
.carousel-inner{
  width: 400px;
  height: 540px;
  margin: 20px;
  overflow: hidden;
}

.carousel-item {
  width: 400px;
  height: 540px;
  margin: 10px;
  overflow: hidden;
}
main .card{
  background-color: #007096;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

footer p {
  margin: 0;
  color: black;
}
