body {
    background-image: url('../images/BackgroundPaper.jpeg'); /* Adjust path as necessary */
    background-size: cover;
    margin: 0;
    padding: 0;
}

.Product-Image Img {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.Product-Description {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

.Product-Description h1 {
    margin-bottom: 20px;
}

.Product-Description button {
    margin-top: 20px;
}
