div.TopPadding {
    padding-top: 5px;
}

.superimposed-textbox {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
  }