/* import colours */
@import url(colour-palette.css); 

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar{
    background: #f7eed3;
    /* background: #f1ebd7;  */
    /* background: #FBD0A6; */

}

.nav-link{
    color: black;
}

.nav-link:hover {
    color: var(--crr-cyan);
    /* color: #2ABA9E; */
    /* font-weight: bolder; */

}