/* import colours */
@import url(colour-palette.css); 

.nav-dropdown:hover .dropdown-menu {
    display: block;
}

.navbar{
    /* Potential background colours */
    /* background-color: var(--crr-light-orange); */
    /* background: #dad2bc; */
    /* background: #f1ebd8; */
    /* background: #f7eed3; */
    /* background: #f1ebd7;  */
    /* background: #FBD0A6; */
    /* background: #D2A6A1; */
    background-color: white;
}

.dropdown-menu{
    background-color: white;
}

.nav-link{
    color: black;
}

.nav-link:hover {
    color: var(--crr-blue);
}
.search-button{
    border-color: var(--crr-blue);
    color: var(--crr-blue);
}

.search-button:hover{
    background-color:var(--crr-blue);
    border-color: var(--crr-blue);
}
.search-button:hover:active{
    background-color:var(--crr-blue);
    border-color: var(--crr-blue);
}
