*{
	padding:0px;
	margin:0px;
}

body{
	background-image:url("../BackgroundPaper.jpeg");
}

footer{
	background-color:#C06000;
	padding:80px;
	width:fill;
	border:2px,solid,black;
	text-align:center;
	position:fixed;
}


/* Men Clothing era choice */

.container-sm{
	border:2px,solid,black;
	position:relative;
}

.MenClothingHeading{
	text-align:center;
	padding:20px;
	background-color:#2ABA9E;
	border:2px,solid,black;
}

.seven{
	background:#B11016;
	display:inline-block;
	text-align:center;
	margin:5px;
	max-width:700px;
	max-height:700px;
	min-height:300px;

}

.eight{
	background:#F37022;
	display:inline-block;
	text-align:center;
	margin:5px;
	max-width:700px;
	max-height:700px;
	min-height:300px;
}

.nine{
	background:#007096;
	display:inline-block;
	text-align:center;
	margin:5px;
	max-width:700px;
	max-height:700px;
	min-height:300px;
}

.hero{
	text-align:center;
	padding:20px;
}

.OutfitHeading{
	background-color:white;
	border:2px,solid,black;
	margin:10px;
	padding:10px;
	text-align:center;
}

.catalogue{
	padding:10px;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	background-color:#D9D9D9;
}

/* End of men clothing era choice */