*{
	padding:0px;
	margin:0px;
}
	
nav{
	position:flex;
	text-align:left;
	background-color:grey;
	padding:5px;
}

li{
	text-decoration:none;
	display:inline;
	padding:10px;
	border:1px,solid,black;
}

body{
	background-image:url("paper.jpeg");
}

.logo{
	background-color:black;
}

.men{
	background-color:brown;
}

.women{
	background-color:brown;
}

.search{
	background-color:white;
}

.contact{
	background-color:brown;
}

.basket{
	background-color:brown;
}

.login{
	background-color:brown;
}

.heading{
	text-align:center;
	padding:20px;
	background-color:#2ABA9E;
	margin:40px 80px;
	border:2px,solid,black;
}

.seven{
	text-align:center;
	padding:20px;
	background-color:#B11016;
	margin:50px 20px;
	border:2px,solid,black;
	height:200px;
}

.eight{
	text-align:center;
	padding:20px;
	background-color:#F37022;
	margin:50px 20px;
	border:2px,solid,black;
	height:200px;
}

.nine{
	text-align:center;
	padding:20px;
	background-color:#2ABA9E;
	margin:50px 20px;
	border:2px,solid,black;
	height:200px;
}

footer{
	background-color:#C06000;
	padding:80px;
	width:fill;
	border:2px,solid,black;
	text-align:center;
}